#prismaHeader {
    height: fit-content;
    background-color: var(--raised-background);
    margin-top: -50px;
    width: max(600px, 100vw);
    margin-left: -10px;
    display: flex;
    overflow-x: auto;
    box-shadow: 0 -6px 0 rgba(255, 255, 255, 0.25) inset;
}

.menuButton {
    margin-left: 5px;
    margin-right: -21px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    background-color: var(--background);
    border: none;
    color: var(--foreground);
    width: 72px;
    overflow: clip;
    font-size: 1em;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 15px 100%);
    box-shadow: 0 -106px 0 -100px rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    align-items: center;
    text-shadow: 0 0 5px black;
    position: relative;
}

.menuButton::after {
    content: attr(aria-label);
    margin-left: 5px;
    color: transparent;
    text-shadow: 0 0 5px transparent;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuButton:hover::after {
    color: var(--foreground);
    text-shadow: 0 0 5px black;
}

.menuButton .material-icons {
    font-size: 2em;
    display: block;
    /* margin-right: 5px; */
    margin: 0px;
}

#optsMenuButton .material-icons {
    margin-right: 0px;
}

.menuButton:hover {
    box-shadow: 0 -151px 0 -100px rgba(255, 255, 255, 0.25) inset;
    width: 150px;
}

#mainMenuButton { --background: hsl(5  , 100%, 15%) }
#infoMenuButton { --background: hsl(135, 100%, 15%) }
#fullMenuButton { --background: hsl(315, 100%, 15%) }
#optsMenuButton { --background: hsl(0  , 0%  , 15%) }

#optsMenuButton {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15px 100%);
    margin-right: 0px;
    padding-right: 5px;
    width: 57px;
}

#optsMenuButton:hover {
    width: 135px;
}

#infoMenuButton,
#optsMenuButton,
#fullMenuButton {
    flex-direction: row-reverse;
}

#infoMenuButton::after,
#optsMenuButton::after,
#fullMenuButton::after {
    margin-left: 0;
    margin-right: 5px;
}
